<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
  </head>
  <body>
    <h1>Index</h1>
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <p><%= post.text %></p>
    <% end %>
    <br>
    <br>
    <h1>Courts</h1>
    <% @courts.each do |court| %>
      <h2>Court: <%= court.name %></h2>
      <p>Total workers: <%= court.staff_total %></p>
      <h3>Staff:</h3>
      <p>Total workers:</p>
        <% court.workers.each do |worker| %>
          <p><%= worker.name%></p>
        <% end %>
    <% end %>
  </body>
</html>
