%h1 Dashboard
%h2 Courts
%table{:border => 1}
  %tr
    %th Court
    %th Required staff
    %th Allocated staff
    %th Current staff
  - @courts.each do |court|
    %tr
      %td= court.name
      %td= court.staff_total
      %td
        - court.workers.each do |worker|
          %p= worker.name
      %td
        = court.workers.count
= link_to 'View Courts', controller: 'courts'
