%h1 Edit worker
= form_with model: @worker, local: true do |form|
  - if @worker.errors.any?
    %div#error_explanation
    %h2{:style => "color:red"} #{pluralize(@worker.errors.count, 'error')} prevented saving:
    %ul
      - @worker.errors.full_messages.each do |message|
        %li{:style => "color:red"}
          = message
  %p
    = form.label :name
    %br/
    = form.text_field :name

  %p
    Assigned court:
    = select_tag :assigned_court_id, options_from_collection_for_select(Court.all.order(:name), "id", "name", @assigned_court_id), include_blank: true
  %p
    = form.submit

%p
  = link_to 'Back', workers_path
