%h1
  = @worker.name

%p
  = link_to 'Edit personal info', edit_worker_path(@worker)

%h3 Timesheet

%table.table.table-bordered
  %tr
    %th Start time
    %th End time
    %th Duration
    %th Location
  - @worker.shifts.each do |shift|
    %tr
      %td
        = shift.start_time
      %td
        = shift.end_time
      %td
        = shift.formatted_duration
      %td
        = shift.staffing.court.name
