!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wimb
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %table{:style => 'width: 100%'}
        %tr
          %th
            = link_to 'Home', root_path
          %th
            = link_to 'Courts', controller: 'courts'
          %th
            = link_to 'Workers', controller: 'workers'
    = yield
