!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wimb
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to 'Home', root_path, class: "nav-link"
          %li.nav-item
            = link_to 'Courts', courts_path, class: "nav-link"
          %li.nav-item
            = link_to 'Workers', workers_path, class: "nav-link"
    %br
    = yield
