!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wimb
    = csrf_meta_tags
    = csp_meta_tag
  %body
    %header
      %table{:style => 'width: 100%'}
        %tr
          %th
            = link_to 'Home', root_path
          %th
            = link_to 'Courts', controller: 'courts'
          %th
            = link_to 'Workers', controller: 'workers'
    = yield
